In [36]:
import pandas as pd
import re

In [8]:
naver = pd.read_csv('ctg3_final.csv')
data = pd.read_csv('podol_final2.csv')
data = data.drop(columns='Unnamed: 0')
data = data[['CLAC3_NM','CLAC2_NM','CLAC1_NM']]

In [162]:
ori = pd.read_csv('podol_subtotal.csv')

In [166]:
ori.CLAC1_NM.unique()

array(['스포츠패션', '침구/수예', '식기/조리기구', '계절가전', '주방잡화', '여성의류', '속옷/양말/홈웨어',
       '생활/주방가전', '건강식품', '문구/사무용품', '청소/세탁/욕실용품', '패션잡화', '세제/위생',
       '원예/애완', '출산/육아용품', '남성의류', '퍼스널케어', '화장품/뷰티케어', '유아동의류', '과일',
       '컴퓨터', '가구', '상품권', '음료', '구기/필드스포츠', '헬스/피트니스', '시즌스포츠',
       '아웃도어/레저', '완구', '모바일', '축산물', '냉동식품', '인테리어/조명', '냉장식품',
       '영상/음향가전', '냉장/세탁가전', '자동차용품'], dtype=object)

In [ ]:
#g = re.compile(r"(여성|남성|유아|아동|주니어)")
g = re.compile(r"(여성)")
female_list= []

check = naver[naver.duplicated('ctg3',keep=False)]['ctg2'].unique()

for i in check:
    m = g.search(i)
    if m:
        female_list.append(i)
        print(i)
    else:
        continue

In [3]:
naver.head()

      ctg3   ctg3_id  ctg2   ctg2_id  ctg1   ctg1_id
0   니트/스웨터  50000805  여성의류  50000167  패션의류  50000000
1      카디건  50000806  여성의류  50000167  패션의류  50000000
2      원피스  50000807  여성의류  50000167  패션의류  50000000
3      티셔츠  50000803  여성의류  50000167  패션의류  50000000
4  블라우스/셔츠  50000804  여성의류  50000167  패션의류  50000000

In [10]:
data.columns=['ctg3','ctg2','ctg1']

In [11]:
data.head()

            ctg3      ctg2      ctg1
0           2단우산    우산/양산류      패션잡화
1           3단우산    우산/양산류      패션잡화
2  BB/파운데이션/컴팩트류      메이크업  화장품/뷰티케어
3          DIY가구  시공/DIY가구        가구
4          DIY완구      여아완구        완구

# naver 이름 정제

In [13]:
data['ctg1'].unique()

array(['패션잡화', '화장품/뷰티케어', '가구', '완구', '영상/음향가전', '컴퓨터', '생활/주방가전',
       '세제/위생', '과일', '속옷/양말/홈웨어', '침구/수예', '건강식품', '냉장/세탁가전', '주방잡화',
       '원예/애완', '구기/필드스포츠', '청소/세탁/욕실용품', '식기/조리기구', '퍼스널케어', '시즌스포츠',
       '아웃도어/레저', '출산/육아용품', '음료', '냉동식품', '계절가전', '모바일', '여성의류', '유아동의류',
       '헬스/피트니스', '문구/사무용품', '자동차용품', '냉장식품', '남성의류', '스포츠패션', '축산물',
       '상품권', '인테리어/조명'], dtype=object)

In [14]:
naverlist = naver['ctg1'].unique()

array(['패션의류', '스포츠/레저', '패션잡화', '화장품/미용', '디지털/가전', '가구/인테리어', '출산/육아',
       '식품', '생활/건강', '여행/문화'], dtype=object)

In [34]:
naver[naver.duplicated('ctg3',keep=False)]['ctg2'].unique()

array(['여성의류', '수영', '여성언더웨어/잠옷', '남성의류', '남성언더웨어/잠옷', '아동의류',
       '아동언더웨어/잠옷', '여성신발', '남성신발', '여성가방', '남성가방', '헤어액세서리', '모자',
       '패션소품', '주얼리', '베이비주얼리', '선글라스/안경테', '스킨케어', '선케어', '클렌징', '뷰티소품',
       '네일케어', '바디케어', '헤어케어', '남성화장품', '생활가전', '이미용가전', 'PC부품', '침실가구',
       '거실가구', '수납가구', '아동/주니어가구', '서재/사무용가구', '캠핑', '인테리어소품', '물티슈',
       '스킨/바디용품', '유아세제', '안전용품', '임부복', '유아의류', '유아잡화', '아이스크림/빙수',
       '냉동/간편조리식품', '스키/보드', '야구', '배드민턴', '스킨스쿠버', '테니스', '권투', '보호용품',
       '공구', '관상어용품', '자동차용품', 'DVD', '건강관리용품', '재활운동용품', '구강위생용품',
       '블루레이', '모바일쿠폰/상품권'], dtype=object)

## '여성'

In [56]:
#g = re.compile(r"(여성|남성|유아|아동|주니어)")
g = re.compile(r"(여성)")
female_list= []

check = naver[naver.duplicated('ctg3',keep=False)]['ctg2'].unique()

for i in check:
    m = g.search(i)
    if m:
        female_list.append(i)
        print(i)
    else:
        continue

여성의류
여성언더웨어/잠옷
여성신발
여성가방

In [ ]:
for i in female_list:
    female_ctg3 = naver[naver['ctg2']==i]['ctg3']
    index_list = female_ctg3.index
    
    for ind,octg3 in zip(index_list,female_ctg3):
        naver.set_value(ind,'ctg3','여성'+octg3)

In [67]:
naver.head()

        ctg3   ctg3_id  ctg2   ctg2_id  ctg1   ctg1_id
0   여성니트/스웨터  50000805  여성의류  50000167  패션의류  50000000
1      여성가디건  50000806  여성의류  50000167  패션의류  50000000
2      여성원피스  50000807  여성의류  50000167  패션의류  50000000
3      여성티셔츠  50000803  여성의류  50000167  패션의류  50000000
4  여성블라우스/셔츠  50000804  여성의류  50000167  패션의류  50000000

## '남성'

In [68]:
#g = re.compile(r"(여성|남성|유아|아동|주니어)")
g = re.compile(r"(남성)")
male_list= []

check = naver[naver.duplicated('ctg3',keep=False)]['ctg2'].unique()

for i in check:
    m = g.search(i)
    if m:
        male_list.append(i)
        print(i)
    else:
        continue

남성의류
남성언더웨어/잠옷
남성신발
남성화장품

In [69]:
for i in male_list:
    male_ctg3 = naver[naver['ctg2']==i]['ctg3']
    index_list = male_ctg3.index
    
    for ind,octg3 in zip(index_list,male_ctg3):
        naver.set_value(ind,'ctg3','남성'+octg3)

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [72]:
naver[naver['ctg2']=='남성의류'].head()

        ctg3   ctg3_id  ctg2   ctg2_id  ctg1   ctg1_id
33  남성니트/스웨터  50000831  남성의류  50000169  패션의류  50000000
34     남성티셔츠  50000830  남성의류  50000169  패션의류  50000000
35   남성셔츠/남방  50000833  남성의류  50000169  패션의류  50000000
36     남성카디건  50000832  남성의류  50000169  패션의류  50000000
37      남성점퍼  50000837  남성의류  50000169  패션의류  50000000

In [98]:
check = naver[naver.duplicated('ctg3',keep=False)]['ctg2'].unique()

array(['수영', '아동의류', '헤어액세서리', '모자', '패션소품', '주얼리', '베이비주얼리', '선글라스/안경테',
       '뷰티소품', '네일케어', '바디케어', '헤어케어', '생활가전', '이미용가전', 'PC부품', '침실가구',
       '거실가구', '수납가구', '아동/주니어가구', '서재/사무용가구', '캠핑', '인테리어소품', '물티슈',
       '스킨/바디용품', '유아세제', '안전용품', '임부복', '유아의류', '유아잡화', '아이스크림/빙수',
       '냉동/간편조리식품', '스키/보드', '야구', '배드민턴', '스킨스쿠버', '테니스', '권투', '보호용품',
       '공구', '관상어용품', '자동차용품', 'DVD', '건강관리용품', '재활운동용품', '구강위생용품',
       '블루레이', '모바일쿠폰/상품권'], dtype=object)

In [142]:
naver[naver.duplicated('ctg3',keep=False)]

          ctg3   ctg3_id       ctg2   ctg2_id    ctg1   ctg1_id
21       여성수영복  50000999         수영  50000164  스포츠/레저  50000007
22        비치웨어  50001000         수영  50000164  스포츠/레저  50000007
49       남성수영복  50000998         수영  50000164  스포츠/레저  50000007
50        비치웨어  50001000         수영  50000164  스포츠/레저  50000007
57         티셔츠  50000747       아동의류  50000171    패션의류  50000000
58      니트/스웨터  50000750       아동의류  50000171    패션의류  50000000
61         카디건  50000751       아동의류  50000171    패션의류  50000000
62          점퍼  50000759       아동의류  50000171    패션의류  50000000
63          재킷  50000760       아동의류  50000171    패션의류  50000000
64         원피스  50000752       아동의류  50000171    패션의류  50000000
65          코트  50000758       아동의류  50000171    패션의류  50000000
66          바지  50000755       아동의류  50000171    패션의류  50000000
67         청바지  50000754       아동의류  50000171    패션의류  50000000
68         스커트  50000753       아동의류  50000171    패션의류  50000000
69          조끼  50000762       아동의류  50000171    패션의류  50000000
70        상하세트  50000761       아동의류  50000171    패션의류  50000000
71       트레이닝복  50000763       아동의류  50000171    패션의류  50000000
72         레깅스  50000757       아동의류  50000171    패션의류  50000000
73         스키복  50000767       아동의류  50000171    패션의류  50000000
80        코디세트  50006828       아동의류  50000171    패션의류  50000000
155       헤어밴드  50000560     헤어액세서리  50000184    패션잡화  50000001
156        헤어핀  50000561     헤어액세서리  50000184    패션잡화  50000001
166        귀마개  50000550         모자  50000181    패션잡화  50000001
172        스카프  50001479       패션소품  50000185    패션잡화  50000001
174        넥타이  50001481       패션소품  50000185    패션잡화  50000001
176        머플러  50000565       패션소품  50000185    패션잡화  50000001
181         우산  50001482       패션소품  50000185    패션잡화  50000001
183        스타킹  50001484       패션소품  50000185    패션잡화  50000001
193        귀걸이  50001490        주얼리  50000189    패션잡화  50000001
194        목걸이  50001491        주얼리  50000189    패션잡화  50000001
...        ...       ...        ...       ...     ...       ...
1396       글러브  50001279         권투  50000049  스포츠/레저  50000007
1399     마우스피스  50001282       보호용품  50000050  스포츠/레저  50000007
1400     머리보호대  50001283       보호용품  50000050  스포츠/레저  50000007
1426      전기용품  50001032         공구  50000165   생활/건강  50000008
1464        조명  50000388      관상어용품  50000057   생활/건강  50000008
1493      전기용품  50000944      자동차용품  50000055   생활/건강  50000008
1498      튜닝용품  50000948      자동차용품  50000055   생활/건강  50000008
1509        영화  50000879        DVD  50000059   생활/건강  50000008
1510       드라마  50000880        DVD  50000059   생활/건강  50000008
1511     애니메이션  50000236        DVD  50000059   생활/건강  50000008
1512     뮤직비디오  50000237        DVD  50000059   생활/건강  50000008
1513    취미/스포츠  50000238        DVD  50000059   생활/건강  50000008
1514        종교  50000239        DVD  50000059   생활/건강  50000008
1515        교육  50000240        DVD  50000059   생활/건강  50000008
1516  교양/다큐멘터리  50000241        DVD  50000059   생활/건강  50000008
1517    유아/어린이  50000242        DVD  50000059   생활/건강  50000008
1583     파라핀용품  50002062     건강관리용품  50000064   생활/건강  50000008
1618     무릎보호대  50001953     재활운동용품  50000068   생활/건강  50000008
1655     마우스피스  50001941     구강위생용품  50000072   생활/건강  50000008
1722        영화  50000917       블루레이  50000081   생활/건강  50000008
1723       드라마  50000918       블루레이  50000081   생활/건강  50000008
1724    유아/어린이  50001689       블루레이  50000081   생활/건강  50000008
1725     애니메이션  50001811       블루레이  50000081   생활/건강  50000008
1726     뮤직비디오  50001812       블루레이  50000081   생활/건강  50000008
1727    취미/스포츠  50001813       블루레이  50000081   생활/건강  50000008
1728        종교  50001814       블루레이  50000081   생활/건강  50000008
1729        교육  50001815       블루레이  50000081   생활/건강  50000008
1730  교양/다큐멘터리  50001816       블루레이  50000081   생활/건강  50000008
1769        피자  50001627  모바일쿠폰/상품권  50000085   여행/문화  50000009
1770     아이스크림  50001628  모바일쿠폰/상품권  50000085   여행/문화  50000009

[147 rows x 6 columns]

### - 수영 카테고리 수정

In [143]:
swim = naver[naver['ctg2']=='수영']

In [144]:
swim.drop_duplicates(inplace=True)

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [145]:
swim

       ctg3   ctg3_id ctg2   ctg2_id    ctg1   ctg1_id
21    여성수영복  50000999   수영  50000164  스포츠/레저  50000007
22     비치웨어  50001000   수영  50000164  스포츠/레저  50000007
49    남성수영복  50000998   수영  50000164  스포츠/레저  50000007
1225   수영용품  50001001   수영  50000164  스포츠/레저  50000007

In [146]:
naver = naver[naver.ctg2 !='수영']

In [148]:
naver = pd.concat([naver,swim])

### - 블루레이, dvd 수정

In [174]:
naver[naver['ctg2']== '블루레이']['ctg3']

Int64Index([1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730], dtype='int64')

In [175]:

for i in ['블루레이','DVD']:
    
    change = naver[naver['ctg2']== i]['ctg3']
    index_list = change.index
    
    for ind,octg3 in zip(index_list,change):
        naver.set_value(ind,'ctg3',i + octg3)

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.

In [189]:
naver[naver.duplicated('ctg3',keep=False)]['ctg2'].unique()

array(['아동의류', '헤어액세서리', '모자', '패션소품', '주얼리', '베이비주얼리', '선글라스/안경테',
       '뷰티소품', '네일케어', '바디케어', '헤어케어', '생활가전', '이미용가전', 'PC부품', '침실가구',
       '거실가구', '수납가구', '아동/주니어가구', '서재/사무용가구', '캠핑', '인테리어소품', '물티슈',
       '스킨/바디용품', '유아세제', '안전용품', '임부복', '유아의류', '유아잡화', '아이스크림/빙수',
       '냉동/간편조리식품', '스키/보드', '야구', '배드민턴', '스킨스쿠버', '테니스', '권투', '보호용품',
       '공구', '관상어용품', '자동차용품', '건강관리용품', '재활운동용품', '구강위생용품', '모바일쿠폰/상품권'],
      dtype=object)

### - 주얼리 수정

In [190]:
naver[naver.ctg2=='주얼리']

      ctg3   ctg3_id ctg2   ctg2_id  ctg1   ctg1_id
192     반지  50001489  주얼리  50000189  패션잡화  50000001
193    귀걸이  50001490  주얼리  50000189  패션잡화  50000001
194    목걸이  50001491  주얼리  50000189  패션잡화  50000001
195    펜던트  50001492  주얼리  50000189  패션잡화  50000001
196  주얼리세트  50001493  주얼리  50000189  패션잡화  50000001
197  주얼리소품  50001494  주얼리  50000189  패션잡화  50000001
198     팔찌  50001495  주얼리  50000189  패션잡화  50000001
199     발찌  50006174  주얼리  50000189  패션잡화  50000001

In [191]:
naver[naver.ctg2=='베이비주얼리']

         ctg3   ctg3_id    ctg2   ctg2_id  ctg1   ctg1_id
209     순금돌반지  50000427  베이비주얼리  50000187  패션잡화  50000001
210        팔찌  50000428  베이비주얼리  50000187  패션잡화  50000001
211       목걸이  50000429  베이비주얼리  50000187  패션잡화  50000001
212       귀걸이  50006912  베이비주얼리  50000187  패션잡화  50000001
213       펜던트  50000430  베이비주얼리  50000187  패션잡화  50000001
214  베이비주얼리세트  50000431  베이비주얼리  50000187  패션잡화  50000001
215     순금주얼리  50006173  베이비주얼리  50000187  패션잡화  50000001

In [198]:
change = ['팔찌','목걸이','귀걸이','펜던트']
index_list = [210,211,212,213]
    
for ind,octg3 in zip(index_list,change):
    naver.set_value(ind,'ctg3','베이비' + octg3)

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [199]:
naver[naver.ctg2=='베이비주얼리']

         ctg3   ctg3_id    ctg2   ctg2_id  ctg1   ctg1_id
209     순금돌반지  50000427  베이비주얼리  50000187  패션잡화  50000001
210     베이비팔찌  50000428  베이비주얼리  50000187  패션잡화  50000001
211    베이비목걸이  50000429  베이비주얼리  50000187  패션잡화  50000001
212    베이비귀걸이  50006912  베이비주얼리  50000187  패션잡화  50000001
213    베이비펜던트  50000430  베이비주얼리  50000187  패션잡화  50000001
214  베이비주얼리세트  50000431  베이비주얼리  50000187  패션잡화  50000001
215     순금주얼리  50006173  베이비주얼리  50000187  패션잡화  50000001

In [206]:
sports= naver[naver.ctg1=='스포츠/레저']
sports[sports.duplicated('ctg3',keep=False)]

     ctg3   ctg3_id   ctg2   ctg2_id    ctg1   ctg1_id
714   파라솔  50001779     캠핑  50000028  스포츠/레저  50000007
1217  파라솔  50001779     캠핑  50000028  스포츠/레저  50000007
1312  글러브  50001556     야구  50000037  스포츠/레저  50000007
1345  스트링  50001353   배드민턴  50000041  스포츠/레저  50000007
1347   그립  50001354   배드민턴  50000041  스포츠/레저  50000007
1355  글러브  50001256  스킨스쿠버  50000046  스포츠/레저  50000007
1377   그립  50001362    테니스  50000042  스포츠/레저  50000007
1378  스트링  50001363    테니스  50000042  스포츠/레저  50000007
1396  글러브  50001279     권투  50000049  스포츠/레저  50000007

### - '파라솔' 1개 삭제

In [208]:
para = naver[naver['ctg3'] == '파라솔']
para.drop_duplicates(inplace=True)
naver = naver[naver['ctg3'] != '파라솔']
naver = pd.concat([naver,para])

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [209]:
naver[naver.ctg3=='파라솔']

    ctg3   ctg3_id ctg2   ctg2_id    ctg1   ctg1_id
714  파라솔  50001779   캠핑  50000028  스포츠/레저  50000007

### - '글러브' - 야구, 스킨스쿠버, 권투

In [210]:
naver[naver['ctg3'] == '글러브']

     ctg3   ctg3_id   ctg2   ctg2_id    ctg1   ctg1_id
1312  글러브  50001556     야구  50000037  스포츠/레저  50000007
1355  글러브  50001256  스킨스쿠버  50000046  스포츠/레저  50000007
1396  글러브  50001279     권투  50000049  스포츠/레저  50000007

In [211]:
change = ['야구','스킨스쿠버','권투']
index_list = [1312,1355,1396]

for ind,octg3 in zip(index_list,change):
    naver.set_value(ind,'ctg3', octg3+'글러브')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [212]:
naver[naver['ctg3'] == '글러브']

Empty DataFrame
Columns: [ctg3, ctg3_id, ctg2, ctg2_id, ctg1, ctg1_id]
Index: []

### - '스트링' - 배드민턴, 테니스

In [214]:
naver[naver.ctg3=='스트링']

     ctg3   ctg3_id  ctg2   ctg2_id    ctg1   ctg1_id
1345  스트링  50001353  배드민턴  50000041  스포츠/레저  50000007
1378  스트링  50001363   테니스  50000042  스포츠/레저  50000007

In [215]:
change = ['배드민턴','테니스']
index_list = [1345,1378]

for ind,octg3 in zip(index_list,change):
    naver.set_value(ind,'ctg3', octg3+'스트링')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [216]:
naver[naver.ctg3=='스트링']

Empty DataFrame
Columns: [ctg3, ctg3_id, ctg2, ctg2_id, ctg1, ctg1_id]
Index: []

### - '그립' - 배드민턴, 테니스

In [217]:
naver[naver.ctg3=='그립']

     ctg3   ctg3_id  ctg2   ctg2_id    ctg1   ctg1_id
1347   그립  50001354  배드민턴  50000041  스포츠/레저  50000007
1377   그립  50001362   테니스  50000042  스포츠/레저  50000007

In [218]:
change = ['배드민턴','테니스']
index_list = [1347,1377]

for ind,octg3 in zip(index_list,change):
    naver.set_value(ind,'ctg3', octg3+'그립')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [219]:
naver[naver.ctg3=='그립']

Empty DataFrame
Columns: [ctg3, ctg3_id, ctg2, ctg2_id, ctg1, ctg1_id]
Index: []

### - 튜닝용품 수정

In [224]:
change = ['PC','자동차']
index_list = [514,1498]

for ind,octg3 in zip(index_list,change):
    naver.set_value(ind,'ctg3', octg3+'튜닝용품')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [225]:
naver[naver['ctg3']=='튜닝용품']

Empty DataFrame
Columns: [ctg3, ctg3_id, ctg2, ctg2_id, ctg1, ctg1_id]
Index: []

### - 피자, 아이스크림 상품권 수정

In [227]:
naver[naver.duplicated('ctg3',keep=False)][naver['ctg2']=='모바일쿠폰/상품권']

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

       ctg3   ctg3_id       ctg2   ctg2_id   ctg1   ctg1_id
1769     피자  50001627  모바일쿠폰/상품권  50000085  여행/문화  50000009
1770  아이스크림  50001628  모바일쿠폰/상품권  50000085  여행/문화  50000009

In [228]:
naver[naver['ctg3']=='피자']

     ctg3   ctg3_id       ctg2   ctg2_id   ctg1   ctg1_id
1180   피자  50001867  냉동/간편조리식품  50000026     식품  50000006
1769   피자  50001627  모바일쿠폰/상품권  50000085  여행/문화  50000009

In [229]:
naver[naver['ctg3']=='아이스크림']

       ctg3   ctg3_id       ctg2   ctg2_id   ctg1   ctg1_id
1178  아이스크림  50001865   아이스크림/빙수  50000025     식품  50000006
1770  아이스크림  50001628  모바일쿠폰/상품권  50000085  여행/문화  50000009

In [230]:
change = ['피자','아이스크림']
index_list = [1769,1770]

for ind,octg3 in zip(index_list,change):
    naver.set_value(ind,'ctg3', octg3 + '상품권')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [231]:
naver[naver['ctg3']=='아이스크림']

       ctg3   ctg3_id      ctg2   ctg2_id ctg1   ctg1_id
1178  아이스크림  50001865  아이스크림/빙수  50000025   식품  50000006

In [234]:
remain = naver[naver.duplicated('ctg3',keep=False)]

In [241]:
a = remain[remain['ctg1']!= '패션의류']
a = a[a['ctg1']!= '패션잡화']
a = a[a['ctg1']!= '출산/육아']
a = a[a['ctg1']!= '가구/인테리어']

In [254]:
remain[remain.ctg1=='패션잡화']

     ctg3   ctg3_id      ctg2   ctg2_id  ctg1   ctg1_id
155  헤어밴드  50000560    헤어액세서리  50000184  패션잡화  50000001
156   헤어핀  50000561    헤어액세서리  50000184  패션잡화  50000001
166   귀마개  50000550        모자  50000181  패션잡화  50000001
172   스카프  50001479      패션소품  50000185  패션잡화  50000001
174   넥타이  50001481      패션소품  50000185  패션잡화  50000001
176   머플러  50000565      패션소품  50000185  패션잡화  50000001
181    우산  50001482      패션소품  50000185  패션잡화  50000001
183   스타킹  50001484      패션소품  50000185  패션잡화  50000001
218  선글라스  50000554  선글라스/안경테  50000183  패션잡화  50000001

## 유아의류, 유아잡화

In [250]:
young = naver[naver.ctg2=='유아의류']['ctg3']
index_list = young.index

for ind,octg3 in zip(index_list,young):
    naver.set_value(ind,'ctg3','영유아'+octg3)

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [252]:
naver[naver.ctg2=='유아의류'].head()

           ctg3   ctg3_id  ctg2   ctg2_id   ctg1   ctg1_id
986   영유아내의/실내복  50005308  유아의류  50000138  출산/육아  50000005
987       영유아조끼  50000270  유아의류  50000138  출산/육아  50000005
988     영유아상하세트  50000271  유아의류  50000138  출산/육아  50000005
989      영유아티셔츠  50000535  유아의류  50000138  출산/육아  50000005
990  영유아블라우스/셔츠  50000536  유아의류  50000138  출산/육아  50000005

## 아동의류

In [266]:
young = naver[naver.ctg2=='아동의류']['ctg3']
index_list = young.index

for ind,octg3 in zip(index_list,young):
    naver.set_value(ind,'ctg3','아동'+octg3)

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

### - 전기용품 수정

In [243]:
naver[naver['ctg3']=='전기용품']

      ctg3   ctg3_id   ctg2   ctg2_id   ctg1   ctg1_id
1426  전기용품  50001032     공구  50000165  생활/건강  50000008
1493  전기용품  50000944  자동차용품  50000055  생활/건강  50000008

In [244]:
change = ['공구','자동차']
index_list = [1426,1493]

for ind,octg3 in zip(index_list,change):
    naver.set_value(ind,'ctg3', octg3 + '전기용품')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

### - 유아동 가구

In [273]:
young = naver[naver.ctg2=='아동/주니어가구']['ctg3']
index_list = young.index

for ind,octg3 in zip(index_list,young):
    if octg3 == '아동침실세트':
        naver.set_value(ind,'ctg3','유'+octg3)
    else:
        naver.set_value(ind,'ctg3','유아동'+octg3)

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [275]:
naver[naver.ctg2=='아동/주니어가구'].head()

          ctg3   ctg3_id      ctg2   ctg2_id     ctg1   ctg1_id
689      유아동책상  50001332  아동/주니어가구  50000104  가구/인테리어  50000004
690    유아동책상의자  50001333  아동/주니어가구  50000104  가구/인테리어  50000004
691  유아동책상의자세트  50001334  아동/주니어가구  50000104  가구/인테리어  50000004
692      유아동책장  50001335  아동/주니어가구  50000104  가구/인테리어  50000004
693     유아동책꽂이  50001336  아동/주니어가구  50000104  가구/인테리어  50000004

### - 패션 잡화

In [278]:
young = naver[naver.ctg2=='유아잡화']['ctg3']
index_list = young.index

for ind,octg3 in zip(index_list,young):
    if octg3 != '기타유아잡화':
        naver.set_value(ind,'ctg3','유아동'+octg3)

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [281]:
naver.set_value(285,'ctg3','미용거울')
naver.set_value(661,'ctg3','침실거울')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.
/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

             ctg3   ctg3_id       ctg2   ctg2_id    ctg1   ctg1_id
0        여성니트/스웨터  50000805       여성의류  50000167    패션의류  50000000
1           여성가디건  50000806       여성의류  50000167    패션의류  50000000
2           여성원피스  50000807       여성의류  50000167    패션의류  50000000
3           여성티셔츠  50000803       여성의류  50000167    패션의류  50000000
4       여성블라우스/셔츠  50000804       여성의류  50000167    패션의류  50000000
5            여성점퍼  50000814       여성의류  50000167    패션의류  50000000
6            여성재킷  50000815       여성의류  50000167    패션의류  50000000
7            여성코트  50000813       여성의류  50000167    패션의류  50000000
8           여성청바지  50000809       여성의류  50000167    패션의류  50000000
9           여성스커트  50000808       여성의류  50000167    패션의류  50000000
10          여성레깅스  50000812       여성의류  50000167    패션의류  50000000
11           여성바지  50000810       여성의류  50000167    패션의류  50000000
12        여성트레이닝복  50000818       여성의류  50000167    패션의류  50000000
13           여성조끼  50000817       여성의류  50000167    패션의류  50000000
14         여성정장세트  50000816       여성의류  50000167    패션의류  50000000
15           여성한복  50000819       여성의류  50000167    패션의류  50000000
16          여성유니폼  50000821       여성의류  50000167    패션의류  50000000
17          여성파티복  50000820       여성의류  50000167    패션의류  50000000
18         여성레인코트  50000822       여성의류  50000167    패션의류  50000000
19         여성점프슈트  50000811       여성의류  50000167    패션의류  50000000
20         여성코디세트  50000778       여성의류  50000167    패션의류  50000000
23           여성브라  50000823  여성언더웨어/잠옷  50000168    패션의류  50000000
24           여성팬티  50000824  여성언더웨어/잠옷  50000168    패션의류  50000000
25       여성브라팬티세트  50000825  여성언더웨어/잠옷  50000168    패션의류  50000000
26         여성보정속옷  50001452  여성언더웨어/잠옷  50000168    패션의류  50000000
27       여성잠옷/홈웨어  50000826  여성언더웨어/잠옷  50000168    패션의류  50000000
28           여성슬립  50000827  여성언더웨어/잠옷  50000168    패션의류  50000000
29       여성러닝/캐미솔  50000828  여성언더웨어/잠옷  50000168    패션의류  50000000
30      여성속치마/속바지  50000829  여성언더웨어/잠옷  50000168    패션의류  50000000
31        여성시즌성내의  50001453  여성언더웨어/잠옷  50000168    패션의류  50000000
...           ...       ...        ...       ...     ...       ...
1778  기타모바일쿠폰/상품권  50001635  모바일쿠폰/상품권  50000085   여행/문화  50000009
1779        스키/보드  50000920      레저이용권  50000086   여행/문화  50000009
1780         눈썰매장  50001636      레저이용권  50000086   여행/문화  50000009
1781         워터파크  50001637      레저이용권  50000086   여행/문화  50000009
1782        아쿠아리움  50001638      레저이용권  50000086   여행/문화  50000009
1783      테마/놀이동산  50001639      레저이용권  50000086   여행/문화  50000009
1784          래프팅  50001640      레저이용권  50000086   여행/문화  50000009
1785       스파/찜질방  50001641      레저이용권  50000086   여행/문화  50000009
1786         수상레저  50001642      레저이용권  50000086   여행/문화  50000009
1787           체험  50006869      레저이용권  50000086   여행/문화  50000009
1788      기타레저이용권  50001643      레저이용권  50000086   여행/문화  50000009
1789         국내여행  50001644     여행/항공권  50000011   여행/문화  50000009
1790         해외여행  50001645     여행/항공권  50000011   여행/문화  50000009
1791         국내숙박  50001646     여행/항공권  50000011   여행/문화  50000009
1792         해외숙박  50001647     여행/항공권  50000011   여행/문화  50000009
1793        국내항공권  50001648     여행/항공권  50000011   여행/문화  50000009
1794        해외항공권  50001649     여행/항공권  50000011   여행/문화  50000009
1795          렌터카  50001650     여행/항공권  50000011   여행/문화  50000009
1796          VOD  50001651       e컨텐츠  50000012   여행/문화  50000009
1797           강좌  50001652       e컨텐츠  50000012   여행/문화  50000009
1798         전자도서  50001653       e컨텐츠  50000012   여행/문화  50000009
1799           만화  50001654       e컨텐츠  50000012   여행/문화  50000009
1800         오디오북  50001655       e컨텐츠  50000012   여행/문화  50000009
1801       기타e컨텐츠  50001656       e컨텐츠  50000012   여행/문화  50000009
1802         쿠킹박스  50006808       가공식품  50000150      식품  50000006
21          여성수영복  50000999         수영  50000164  스포츠/레저  50000007
22           비치웨어  50001000         수영  50000164  스포츠/레저  50000007
49          남성수영복  50000998         수영  50000164  스포츠/레저  50000007
1225         수영용품  50001001         수영  50000164  스포츠/레저  50000007
714           파라솔  50001779         캠핑  50000028  스포츠/레저  50000007

[1798 rows x 6 columns]

In [285]:
naver.set_value(964,'ctg3','임부스타킹')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

             ctg3   ctg3_id       ctg2   ctg2_id    ctg1   ctg1_id
0        여성니트/스웨터  50000805       여성의류  50000167    패션의류  50000000
1           여성가디건  50000806       여성의류  50000167    패션의류  50000000
2           여성원피스  50000807       여성의류  50000167    패션의류  50000000
3           여성티셔츠  50000803       여성의류  50000167    패션의류  50000000
4       여성블라우스/셔츠  50000804       여성의류  50000167    패션의류  50000000
5            여성점퍼  50000814       여성의류  50000167    패션의류  50000000
6            여성재킷  50000815       여성의류  50000167    패션의류  50000000
7            여성코트  50000813       여성의류  50000167    패션의류  50000000
8           여성청바지  50000809       여성의류  50000167    패션의류  50000000
9           여성스커트  50000808       여성의류  50000167    패션의류  50000000
10          여성레깅스  50000812       여성의류  50000167    패션의류  50000000
11           여성바지  50000810       여성의류  50000167    패션의류  50000000
12        여성트레이닝복  50000818       여성의류  50000167    패션의류  50000000
13           여성조끼  50000817       여성의류  50000167    패션의류  50000000
14         여성정장세트  50000816       여성의류  50000167    패션의류  50000000
15           여성한복  50000819       여성의류  50000167    패션의류  50000000
16          여성유니폼  50000821       여성의류  50000167    패션의류  50000000
17          여성파티복  50000820       여성의류  50000167    패션의류  50000000
18         여성레인코트  50000822       여성의류  50000167    패션의류  50000000
19         여성점프슈트  50000811       여성의류  50000167    패션의류  50000000
20         여성코디세트  50000778       여성의류  50000167    패션의류  50000000
23           여성브라  50000823  여성언더웨어/잠옷  50000168    패션의류  50000000
24           여성팬티  50000824  여성언더웨어/잠옷  50000168    패션의류  50000000
25       여성브라팬티세트  50000825  여성언더웨어/잠옷  50000168    패션의류  50000000
26         여성보정속옷  50001452  여성언더웨어/잠옷  50000168    패션의류  50000000
27       여성잠옷/홈웨어  50000826  여성언더웨어/잠옷  50000168    패션의류  50000000
28           여성슬립  50000827  여성언더웨어/잠옷  50000168    패션의류  50000000
29       여성러닝/캐미솔  50000828  여성언더웨어/잠옷  50000168    패션의류  50000000
30      여성속치마/속바지  50000829  여성언더웨어/잠옷  50000168    패션의류  50000000
31        여성시즌성내의  50001453  여성언더웨어/잠옷  50000168    패션의류  50000000
...           ...       ...        ...       ...     ...       ...
1778  기타모바일쿠폰/상품권  50001635  모바일쿠폰/상품권  50000085   여행/문화  50000009
1779        스키/보드  50000920      레저이용권  50000086   여행/문화  50000009
1780         눈썰매장  50001636      레저이용권  50000086   여행/문화  50000009
1781         워터파크  50001637      레저이용권  50000086   여행/문화  50000009
1782        아쿠아리움  50001638      레저이용권  50000086   여행/문화  50000009
1783      테마/놀이동산  50001639      레저이용권  50000086   여행/문화  50000009
1784          래프팅  50001640      레저이용권  50000086   여행/문화  50000009
1785       스파/찜질방  50001641      레저이용권  50000086   여행/문화  50000009
1786         수상레저  50001642      레저이용권  50000086   여행/문화  50000009
1787           체험  50006869      레저이용권  50000086   여행/문화  50000009
1788      기타레저이용권  50001643      레저이용권  50000086   여행/문화  50000009
1789         국내여행  50001644     여행/항공권  50000011   여행/문화  50000009
1790         해외여행  50001645     여행/항공권  50000011   여행/문화  50000009
1791         국내숙박  50001646     여행/항공권  50000011   여행/문화  50000009
1792         해외숙박  50001647     여행/항공권  50000011   여행/문화  50000009
1793        국내항공권  50001648     여행/항공권  50000011   여행/문화  50000009
1794        해외항공권  50001649     여행/항공권  50000011   여행/문화  50000009
1795          렌터카  50001650     여행/항공권  50000011   여행/문화  50000009
1796          VOD  50001651       e컨텐츠  50000012   여행/문화  50000009
1797           강좌  50001652       e컨텐츠  50000012   여행/문화  50000009
1798         전자도서  50001653       e컨텐츠  50000012   여행/문화  50000009
1799           만화  50001654       e컨텐츠  50000012   여행/문화  50000009
1800         오디오북  50001655       e컨텐츠  50000012   여행/문화  50000009
1801       기타e컨텐츠  50001656       e컨텐츠  50000012   여행/문화  50000009
1802         쿠킹박스  50006808       가공식품  50000150      식품  50000006
21          여성수영복  50000999         수영  50000164  스포츠/레저  50000007
22           비치웨어  50001000         수영  50000164  스포츠/레저  50000007
49          남성수영복  50000998         수영  50000164  스포츠/레저  50000007
1225         수영용품  50001001         수영  50000164  스포츠/레저  50000007
714           파라솔  50001779         캠핑  50000028  스포츠/레저  50000007

[1798 rows x 6 columns]

In [288]:
mix = naver[naver.ctg3=='혼합세트']['ctg2']
index_list = mix.index

for ind,octg2 in zip(index_list,mix):
    naver.set_value(ind,'ctg3',octg2+'혼합세트')

/Users/YiYoung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

###
- 피부케어기기 
- 손발톱정리기
- 파라핀용품
- 제모기
- 두피케어기기
- 스탠드
- 조명
- 머리보호대 
- 무릎보호대
- 마우스피스

In [295]:
naver[naver.duplicated('ctg3',keep=False)]

        ctg3   ctg3_id    ctg2   ctg2_id     ctg1   ctg1_id
287   피부케어기기  50005106    뷰티소품  50000201   화장품/미용  50000002
300   손발톱정리기  50005092    네일케어  50000196   화장품/미용  50000002
317    파라핀용품  50005093    바디케어  50000197   화장품/미용  50000002
322      제모기  50005094    바디케어  50000197   화장품/미용  50000002
333   두피케어기기  50005095    헤어케어  50000198   화장품/미용  50000002
463      스탠드  50001414    생활가전  50000210   디지털/가전  50000003
484   손발톱정리기  50001993   이미용가전  50000211   디지털/가전  50000003
485   두피케어기기  50001994   이미용가전  50000211   디지털/가전  50000003
486   피부케어기기  50001995   이미용가전  50000211   디지털/가전  50000003
487      제모기  50001996   이미용가전  50000211   디지털/가전  50000003
783      스탠드  50001118  인테리어소품  50000108  가구/인테리어  50000004
784       조명  50001119  인테리어소품  50000108  가구/인테리어  50000004
915    머리보호대  50000578    안전용품  50000130    출산/육아  50000005
916    무릎보호대  50000579    안전용품  50000130    출산/육아  50000005
1399   마우스피스  50001282    보호용품  50000050   스포츠/레저  50000007
1400   머리보호대  50001283    보호용품  50000050   스포츠/레저  50000007
1464      조명  50000388   관상어용품  50000057    생활/건강  50000008
1583   파라핀용품  50002062  건강관리용품  50000064    생활/건강  50000008
1618   무릎보호대  50001953  재활운동용품  50000068    생활/건강  50000008
1655   마우스피스  50001941  구강위생용품  50000072    생활/건강  50000008

In [297]:
naver.to_csv('naver_ctg.csv',index=False, index_label=False)

## '유아'

In [87]:
#g = re.compile(r"(여성|남성|유아|아동|주니어)")
g = re.compile(r"(유아)")
female_list= []

check = naver[naver.duplicated('ctg3',keep=False)]['ctg2'].unique()

for i in check:
    m = g.search(i)
    if m:
        female_list.append(i)
        print(i)
    else:
        continue

유아세제
유아의류
유아잡화

In [93]:
#g = re.compile(r"(여성|남성|유아|아동|주니어)")
g = re.compile(r"(아동)")
female_list= []

check = naver[naver.duplicated('ctg3',keep=False)]['ctg2'].unique()

for i in check:
    m = g.search(i)
    if m:
        female_list.append(i)
        print(i)
    else:
        continue

아동의류
아동/주니어가구

In [88]:
ch_list = ['유아의류','유아잡화']

In [92]:
#g = re.compile(r"(여성|남성|유아|아동|주니어)")
g = re.compile(r"(영유아)")
female_list= []

check = naver['ctg3'].unique()

for i in check:
    m = g.search(i)
    if m:
        female_list.append(i)
        print(i)
    else:
        continue

신생아/영유아완구

In [97]:
#g = re.compile(r"(여성|남성|유아|아동|주니어)")
g = re.compile(r"(유아)")
female_list= []

check = data['ctg2'].unique()

for i in check:
    m = g.search(i)
    if m:
        female_list.append(i)
        print(i)
    else:
        continue

유아스킨/바디케어
유아의류아우터
유아동양말류
유아동화
유아안전용품
유아발육용품
유아의류상의
유아의류하의
유아의류전신
유아위생용품
유아동가구
유아동속옷
유아동침구
유아동스포츠화
유아동일반스포츠의류

In [50]:
data[data['ctg1']=='여성의류']['ctg3'].unique()

array(['기타여성의류아우터', '여성가디건', '여성남방셔츠', '여성레깅스', '여성바지', '여성베스트', '여성블라우스',
       '여성사파리', '여성스웨터/풀오버', '여성스웨트셔츠/후드/집업', '여성스커트', '여성원피스', '여성재킷',
       '여성점퍼', '여성점프수트/오버롤', '여성청바지', '여성코트', '여성트렌치코트', '여성티셔츠/탑',
       '여성패딩'], dtype=object)

In [54]:
naver.head()

      ctg3   ctg3_id  ctg2   ctg2_id  ctg1   ctg1_id
0   니트/스웨터  50000805  여성의류  50000167  패션의류  50000000
1      가디건  50000806  여성의류  50000167  패션의류  50000000
2      원피스  50000807  여성의류  50000167  패션의류  50000000
3      티셔츠  50000803  여성의류  50000167  패션의류  50000000
4  블라우스/셔츠  50000804  여성의류  50000167  패션의류  50000000

In [45]:
check[0]

'여성의류'

## naver 기준
- 패션의류 = 여성의류, 남성의류, 유아동의류, 속옷/'!양말'/홈웨어
- 패션잡화 = 패션잡화, 속옷/'양말'/홈웨어
- 스포츠/레저 = 구기/필드스포츠, 시즌스포츠, 스포츠패션, 헬스/피트니스, 아웃도어/레저
- 화장품/미용 = 화장품/뷰티케어, 퍼스널케어
- 디지털/가전 = 영상/음향가전, 컴퓨터, 생활/주방가전, 냉장/세탁가전, 계절가전, 모바일
- 가구/인테리어 = 가구, 인테리어/조명, 침구/수예
- 출산/육아 = 출산/육아용품 , 유아동의류, 완구
- 식품 = 과일, 음료, 냉동식품, 냉장식품, 축산물, 건강식품
- 생활/건강 = 청소/세탁/욕실용품, 주방잡화, 문구/사무용품, 세제/위생, 자동차용품, 원예/애완, 퍼스널케어(구강케어, 바디케어, 여성위생용품),식기/조리기구
- 여행/문화 = 상품권

In [31]:
a = [print(i) for i in naver[naver['ctg1']=='패션잡화']['ctg2'].unique()]

여성신발
남성신발
지갑
여행용가방/소품
신발용품
여성가방
남성가방
헤어액세서리
모자
패션소품
주얼리
순금
장갑
벨트
베이비주얼리
양말
선글라스/안경테
시계

In [32]:
b = [print(i) for i in data[data['ctg1']=='패션잡화']['ctg2'].unique()]

우산/양산류
모자
보석
남성화
여행용가방류
유아동화
패션액세서리
남성지갑
남성가방
안경/선글라스
시계
캐쥬얼가방
여성가방
여성화
여성지갑

In [ ]:
우산/양산류 = 
모자 = 모자
보석 = 

주얼리, 순금,

In [20]:
data[data['ctg1']=='퍼스널케어']['ctg2'].unique()

array(['구강케어', '바디케어', '헤어케어', '여성위생용품', '핸드/풋케어'], dtype=object)

In [25]:
naver[naver['ctg2']=='여성언더웨어/잠옷']

       ctg3   ctg3_id       ctg2   ctg2_id  ctg1   ctg1_id
23       브라  50000823  여성언더웨어/잠옷  50000168  패션의류  50000000
24       팬티  50000824  여성언더웨어/잠옷  50000168  패션의류  50000000
25   브라팬티세트  50000825  여성언더웨어/잠옷  50000168  패션의류  50000000
26     보정속옷  50001452  여성언더웨어/잠옷  50000168  패션의류  50000000
27   잠옷/홈웨어  50000826  여성언더웨어/잠옷  50000168  패션의류  50000000
28       슬립  50000827  여성언더웨어/잠옷  50000168  패션의류  50000000
29   러닝/캐미솔  50000828  여성언더웨어/잠옷  50000168  패션의류  50000000
30  속치마/속바지  50000829  여성언더웨어/잠옷  50000168  패션의류  50000000
31    시즌성내의  50001453  여성언더웨어/잠옷  50000168  패션의류  50000000
32   언더웨어소품  50001454  여성언더웨어/잠옷  50000168  패션의류  50000000